<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Game</title>
</head>
<body>
   <div style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/nT8C7CLgKKQ">
    </iframe>
  </div>
</div>
    <p class = "home_page_music_text">Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>  
  <h1>WelCome To The Game and Anime World!!!!</h1>
 <form action="/results" method="post">
   <p class ="title"> Anime or Game</p>
<input type="radio" name="choose" value="anime" checked>Anime
<br>
<input type="radio" name="choose" value="game">Game
   <p class ="title"> Age </p>
   <div><input type="radio" name="age" value="under12" checked>under12
   <br>
   <input type="radio" name="age" value="12~20">12~20
   <br>
   <input type="radio" name="age" value="20+">20+
   <div>
     <input type="submit" value="Submit">
     </div>
     </div>
</form>
  
   <img class ="home_page_img" src ="http://i254.photobucket.com/albums/hh88/Dracom-91/Devil_May_Cry_4_Wallpaper_by_clo-1.jpg">
   <img class ="home_page_img" src ="https://lh3.googleusercontent.com/-VWgZXTvDwqM/U7G56Z1DvQI/AAAAAAAAABo/UdDz1Xls_j4/s0-d/assassins-creed-wallpaper-altair-ezio-connorassassins-creed-series-wallpaper-2-by-yellowcar96-on-deviantart-eme0i6ht.png">
   <img class ="home_page_img" src ="http://us.blizzard.com/static/_images/games/burningcrusade/wallpapers/wall1/wall1-1600x1200.jpg">
</body>
</html>