<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  <title></title>
</head>
<body>
<!--      <div style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/JYRZdBM15nM">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>   -->
  
  <%if @choose == "game" && @age =="under12" %>
  
  
  
  <ul>
  <p class ="games_under12">Minecraft</p> 
  <img class = "picture_game_under12" src = "http://static4.gamespot.com/uploads/original/536/5360430/2656299-screen10-png.png">
  <li><a href="https://minecraft.net/">More Imformation</a></li>
    
  <p class ="games_under12">Candy Crush Saga</p>    
  <img class = "picture_game_under12" src = "http://anewdomain.net/wp-content/uploads/2015/05/Candy-Crush-Cover.png">
  <li><a href="https://king.com/#!/play/candycrush">More Imformation</a></li>
    
  <p class ="games_under12">Fruit Ninja</p>    
  <img class = "picture_game_under12" src = "http://halfbrick.com/wp-content/uploads/Fruit_Ninja_Wood_1920x1200-480x234.jpg">
  <li><a href="http://fruitninja.com/">More Imformation</a></li>
    
  <p class ="games_under12">Angry Birds</p>    
  <img class = "picture_game_under12" src = "http://vignette2.wikia.nocookie.net/p__/images/3/33/Angry_Birds.png/revision/latest?cb=20140126150010&path-prefix=protagonist">
  <li><a href="https://www.angrybirds.com/">More Imformation</a></li>
    
</ul>
  
  
  
  
  
  
  
  
  
  <%elsif @choose == "game" && @age =="12~20" %>
  <ul>
    <p class = "games_12_20">Resident Evil</p>
  <img class = "picture_game_12_20" src = "http://86bb71d19d3bcb79effc-d9e6924a0395cb1b5b9f03b7640d26eb.r91.cf1.rackcdn.com/wp-content/uploads/2015/02/resident-evil-revelations-2-cheats-640x325.jpg">
  <li><a href="http://www.capcom.co.jp/rev2/index.php?la=ja">More Imformation</a></li>
  <p class = "games_12_20">Devil May Cry 4</p>
  <img class = "picture_game_12_20" src = "http://gematsu.com/wp-content/uploads/2015/03/DMC4SE-Retail-LE-Japan_001.jpg">
  <li><a href="http://www.capcom.co.jp/devil4se/ja/">More Imformation</a></li>
  <p class = "games_12_20">Monster Hunter</p>  
  <img class = "picture_game_12_20" src = "http://japandaman.com/wp-content/uploads/2012/09/Monster-Hunter-Transparent.png">
  <li><a href="http://www.capcom.co.jp/monsterhunter/X/">More Imformation</a></li>
  <p class = "games_12_20">Asaassin's Creed</p>
  <img class = "picture_game_12_20" src = "http://assets.vg247.com/current//2014/07/assassins_creed1.jpg">
  <li><a href="http://assassinscreed.ubi.com/en-us/home/">More Imformation</a></li>
</ul>
  
  
  
  
  
  
  
  
  
  <%elsif @choose == "game" && @age =="20+" %>
  
  <ul>
      <p class ="games_20">League of Legends</p> 
  <img class = "picture_game_20" src = "http://8bitchimp.com/wp-content/uploads/2014/10/league.png">
  <li><a href="http://na.leagueoflegends.com/">More Imformation</a></li>
  <p class ="games_20">Warcraft</p>    
  <img class = "picture_game_20" src = "http://overmental.com/wp-content/uploads/2015/05/WOW.jpg">
  <li><a href="https://en.wikipedia.org/wiki/Warcraft">More Imformation</a></li>
  <p class ="games_20">Left 4 Dead 2</p>    
  <img class = "picture_game_20" src = "http://vignette3.wikia.nocookie.net/screenarchery/images/f/f5/Left-4-dead-2-forlinux.jpeg/revision/latest?cb=20121005101156">
  <li><a href="http://www.l4d.com/blog/">More Imformation</a></li>
  <p class ="games_20">Cross Fire</p>    
  <img class = "picture_game_20" src = "http://i.ytimg.com/vi/iLzTnmGpnJY/maxresdefault.jpg">
  <li><a href="http://crossfire.z8games.com/index2.aspx">More Imformation</a></li>
</ul>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <%elsif @choose == "anime" && @age =="20+" %>
  
  <ul>
    <p class ="anime_20">One Piece</p> 
    <img class = "picture_anime_20" src = "https://lh6.googleusercontent.com/-DV4ZZENpDqk/VDMgBFiSQmI/AAAAAAAAEHo/palPNtgMO-Q/w848-h600/One-Piece-19.png">
    
     <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
      <div style="position:absolute;top:-276px;left:-5px">
        <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/PTAG3I4usVo">
        </iframe>
      </div>
    </div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
  <p class ="anime_20">Naruto</p>    
  <img class = "picture_anime_20" src = "http://www.saiyanisland.com/news/wp-content/uploads2/2013/12/Kurama-Naruto-Sasuke.jpg">
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/Wojjwht7Qj0">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
    
  <p class ="anime_20">Bleach</p>    
  <img class = "picture_anime_20" src = "http://static.hdw.eweb4.com/media/wallpapers_1920x1200/anime/1/2/zangetsu-bleach-anime-hd-wallpaper-1920x1200-13612.jpg">
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/nrRyE55Gals">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
  <p class ="anime_20">Fairy Tail</p>    
  <img class = "picture_anime_20" src = "http://cdn.playbuzz.com/cdn/4b0bf933-51ea-4371-8aaf-ee9841861b75/95297c9f-2c2d-40b7-89e1-87193a97d69a.jpg">
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/akOsfIF77qo">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
    
</ul>
  
  
  <%elsif @choose == "anime" && @age =="12~20" %>
  
  <ul>
  <p class ="anime_12_20">Code Geass</p> 
  <img class = "picture_anime_12_20" src = "http://static.hdw.eweb4.com/media/wallpapers_1920x1200/anime/1/1/code-geass-anime-hd-wallpaper-1920x1200-9481.jpg">
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/_AXWgoGPPUI">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
  <p class ="anime_12_20">Yu Gi Oh</p>    
  <img class = "picture_anime_12_20" src = "http://www.toonbarn.com/wordpress/wp-content/uploads/2014/11/yugiohseason1netflix.jpg">
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/VrMzhxnR-eY">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
  <p class ="anime_12_20">Assassination Classroom</p>    
  <img class = "picture_anime_12_20" src = "https://muranodo.files.wordpress.com/2015/01/assassination-classroom-kuro-sensei-dai-houimou-pv.jpg">
    
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/quigUs-ENTg">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
  <p class ="anime_12_20">Attack on Titan</p>    
  <img class = "picture_anime_12_20" src = "http://robot6.comicbookresources.com/wp-content/uploads/2015/06/attack-on-titan-anime-movie.jpg">
    
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/lOOMbMhiCRs">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
</ul>
  
  <%elsif @choose == "anime" && @age =="under12" %>
  
  <ul>
  <p class ="anime_under12">Mickey Mouse</p> 
  <img class = "picture_anime_under12" src = "http://www.cartoonhdwallpapers.com/wallpapers/mickey_mouse_cartoon_hd_wallpapers_poster.jpg">     
    
    
    
    <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/Iv_UHDZc1f8">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
  <p class ="anime_under12">Doraemon</p>    
  <img class = "picture_anime_under12" src = "http://jto.s3.amazonaws.com/wp-content/uploads/2014/05/p1-doraemon-a-20140510.jpg">
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/wBozBh7BR6k">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
    
  <p class ="anime_under12">Ketsuekigata Kun</p>    
  <img class = "picture_anime_under12" src = "http://i.ytimg.com/vi/CAr7ZbisYWs/maxresdefault.jpg">
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/LKvrxuanFK0">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
  <p class ="anime_under12">Teletubbies</p>    
  <img class = "picture_anime_under12" src = "http://ichef.bbci.co.uk/childrens-responsive-ichef/r/640/1x/cbeebies/teletubbies_onward_journey_image_bid.png">
    
      <div class="youtube" style="position:relative;width:267px;height:25px;overflow:hidden;">
  <div style="position:absolute;top:-276px;left:-5px">
    <iframe width="300" height="300" 
      src="https://www.youtube.com/embed/g00viskJPVM">
    </iframe>
  </div>
</div>
    <p>Click <img class ="play_sign" src = "http://i148.photobucket.com/albums/s18/Doignumber1/Silver-Play-Button-1.jpg"> To Play Music</p>
    
    
    
</ul>
  
  
  <%end%>
</body>
</html>